.nav-box{
  width: 100%;
  padding-left: 30rpx;
  background: white;
}
.nav-box{
  font-weight: 600;
  font-size: 40rpx;
  color: #222222;
}
.title-box{
  width: 100%;
  display: flex;
  align-items: center;
}
